.docs-toc {
  margin: 0 0 1em 0;
}


pre {
  border-radius: 4px;
  background: #2d2d2d !important;
}
.docs-toc {
	border: 1px solid #f0f0f0;
	padding: 1em 0.3em;
	a {
		text-decoration: none;
	}
}


.made-with {
  text-decoration: none; color: rgba(0, 0, 0, 0.5)
}
