#top-brand a {
	text-decoration: none;
	font-family: $logo-font-family;
	text-transform: uppercase;
	color: black;
	font-size: 1.7em;
	font-style: italic;
}

#nav-toggle-brand a {
  font-family: $logo-font-family;
	text-transform: uppercase;
	color: black;
	font-style: italic;
}
