body {
  /* background-color: #222 !important;
  filter: invert(100) */
}

pre {
  border-radius: 4px;
  background: #2d2d2d !important;
  /* filter: invert(100) */
}

.docs-toc {
  border: 1px solid #f0f0f0;
  padding: 1em 0.3em;
}

.docs-toc a {
  text-decoration: none;
}